img {
    max-width: 100%;
    display: block;
    }

h1, h2, h3, h4, h5, h6, p, ul, ol {
 margin: 0;
 padding: 0;
 }

 body{
    margin: 0;
font-family:"Inter", "Fustat", sans-serif;
 }

/*header*/
header{
    display: flex;
   flex-direction: row; 
   justify-content: center;
   align-content: center;
   padding: 70px 55px 20px;
}
 .inizio {
    background-color: #fff5f6;
    max-width: 1440px;
    height: 150px;   
}

.logo img{
    width: 170px;
   position: absolute;
   padding: 0 54px;
    }

.inizio ul{
    display: flex;
    font-family: "Inter";
    list-style: none;
    gap: 89px;
        
}

.inizio a{ 
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;     
}

header nav a:hover{
    color: #A5505B;
    transition: color 0.3s;
}

.current-page a{
    text-decoration: underline #952333 4px;
    color: #91303d;
}

/*Copertina*/
.testata{
    position: relative;
    
}

.titolo-testata{
position: absolute;
background-color: rgba(0, 0, 0, 0.6);
color: white;
width: 100%;
height: 100%;
font-family: "Inter";
display: flex;
align-items:flex-end;
justify-content:flex-start;
}

.foto-copertina img{
    width: 100%;
    height: 788px;
    object-fit: cover;
    margin-bottom: 79px;
    
}


.primo h1{
    font-size: 80px;
    font-weight: bold;
    padding: 0 65px;
    margin-bottom: 20px;
}

.primo p{
    font-size: 20px;
    font-weight: 600;
    width: 542px;
    margin-bottom: 48px;
    padding: 0 71px;
    
    }


    /*info box*/
    .red-box{
        width: 1323px;
        height: 708px;
        background: #A5505B;
        border-radius: 40px;
        margin: auto;
      text-align: center;
       }

       .red-box-2{
        width: 1323px;
        height: 100%;
        background: #A5505B;
        border-radius: 40px;
        margin: auto;
      text-align: center;
       }

    .imm-descr{
        max-width: 100%;
        height: 355px;
       display: flex;
        align-items: center;
        padding: 50px;
        }

        .link-veloce a{
            text-decoration:none;
           }
        .link-veloce{
            margin: -30px;
        }

        .red-box a p:hover{
            color: #970d1f;
        transition: color 0.3s;
        }

        .desc-generica a{
            text-decoration: none;
        }


        .foto-centro{
            display: flex;
            justify-content: center;
        }
        .foto-centro img{
            width: 1100px;
            padding: 30px;
            border-radius: 60px;
        }

     .red-box h2{
        font-size: 60px;
        color: white;
        text-align: center;
        padding: 30px;
     }
       .red-box p{
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 0 50px;
        }

        .red-box-2 h2{
        font-size: 60px;
        color: white;
        text-align: center;
        padding: 50px 0 0 0;
        
        }

         .red-box-2 p{
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 50px;
        }
     
        /*descrizione generica*/
        .desc-generica h3{
            font-size: 60px;
        color: black;
        padding:39px;
        width: 699px;
       
        }
         .desc-generica p{
            font-size: 20px;
        color: black;
        padding:0 40px;
        margin-top: -15px;
        width: 699px;
        
        }

        .grid-ima{
            display: grid;
            grid-template-columns: 20% 20% ;
            grid-template-rows: 20% 20% 20% 20%;
        }
        
        .ima-didascalia1{
            grid-column: 1 / span 2;
            padding: 40px;
        }
         .ima-didascalia1 img{
            max-width:600px;
            height: 487px;
        }

        .ima-didascalia2 img{
            max-width:100%;
            height: 487px;
            
            
        }
        .ima-didascalia2{
          grid-column:6;
          padding: 40px;  
          
        }

        .testo-a-sinistra{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
        }
        .immagine-destra{
            display: flex;
            justify-content: flex-end;
        }
        .immagine-destra img{
            width: 484px;
            border-radius: 120px;
            padding: 94px;
         }

         .immagine-centrale img{
            object-fit: cover;
            width: 100%;
           height: 400px;
         }

         .testo-a-destra{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: flex-end;
        }
        .immagine-sinistra{
            display: flex;
            justify-content: flex-start;
        }
        .immagine-sinistra img{
            width: 484px;
            border-radius: 120px;
            padding: 94px;
         }

          .elenco p{
            font-size: 20px;
        color: black;
        padding:0 40px;
        margin-top: -30px;
        width: 600px;
        }

         span{
            font-size: 24px;
        }

        .immagine-destra-wide img{
            object-fit: cover;
             width: 505px;
             height: 694px;
            border-radius: 120px;
            padding: 94px;
        }

        .immagine-destra-wide{
            display: flex;
            justify-content: flex-end;
        }

         .desc-generica-elenco h3{
            font-size: 60px;
        color: black;
        padding:39px;
        margin-top: -20px;
        }
         .desc-generica-elenco p{
            font-size: 20px;
        color: black;
        padding:0 40px;
        margin-top: -15px;
        width: 600px;
        margin-bottom: 20px;
        }

         .desc-generica-elenco li{
        font-size: 20px;
        padding:0 40px;
        width: 600px;
        
        }

        .immagine-sinistra-wide img{
            object-fit: cover;
             width: 505px;
             height: 694px;
            border-radius: 120px;
            padding: 94px;
        }

        .immagine-sinistra-wide{
            display: flex;
            justify-content: flex-start;
        }

        .immagine-sinistra-wide-resp{
            display: none;
        }

         .desc-generica-elenco h3{
            font-size: 60px;
        color: black;
        padding:39px;
        }
         .desc-generica-elenco p{
            font-size: 20px;
        color: black;
        padding:0 40px;
        margin-top: -15px;
        width: 600px;
        }

        

        /*schermata di selezione*/

        .esplora{
            position: relative;
        }

        .grid-selez{
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 70px;
        }

       .dida-2{
        position: absolute;
        color: white;
        display: flex;
        align-items: flex-end;
        background-color: rgba(0, 0, 0, 0.4);
        width: 562px;
        height: 593px;
        margin: 44px;
        border-radius: 35px;
       }

     

       .dida-primo h6{
        font-size: 36px;
        font-weight: bold;
        padding: 0 24px;
        margin-bottom: 20px;
       }

         .dida-primo p{
        font-size: 20px;
        font-weight: 400;
        padding: 0 24px;
        margin-bottom: 48px;
        width: 542px;
       }

       .selezione-1 img{
        width: 562px;
        height: 593px;
        object-fit: cover;
        padding: 44px;
        border-radius: 80px;
        
       }

       .selezione-1 a:hover{
        background-color: white;
        opacity: 0.8;
        transition:0.3s;
       }

        .selezione-2 a:hover{
        background-color: white;
        opacity: 0.8;
        transition:0.3s;
       }

       .selezione-2 img{
        width: 562px;
        height: 593px;
        object-fit: cover;
        padding: 44px;
        border-radius: 80px;
        
       }

        .selezione-2 img{
        width: 562px;
        height: 593px;
        object-fit: cover;
       }

    /*schermata di selezione*/
     .back{
        position: absolute;
        color: white;
        display: flex;
        align-items: flex-end;
        background-color: rgba(0, 0, 0, 0.4);
        width: 424px;
        height: 447px;
        margin: 22px;
        border-radius: 35px;
        pointer-events: none;
       }

    .card-3{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-flow: wrap;
        gap: 20px;
        padding: 44px;
    }
       .selezione-3{
        padding: 22px;
        }

       .selezione-3 img{
        width: 454px;
        height: 447px;
        object-fit: cover;
        border-radius: 25px;
        
       }

       
       .selezione-3 a:hover{
         background-color: white;
        opacity: 0.8;
        transition:0.3s;
       }
       

       .dida-secondo a{
        text-decoration: none;
        list-style: none;
       }

       .dida-secondo h6{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 5px;
        width: 160px;
        padding: 24px;
        color: white;
       }

         .dida-secondo p{
        font-size: 15px;
        font-weight: 400;
        width: 390px;
        padding: 24px;
        } 
       

        
        /*footer*/
         footer {
            font-family: "DM Sans";
             background: #A5505B;
             color: white;
             
        }

        .parte-finale{
             display: inline-flex;
            align-items: flex-start;
            padding: 20px 39px;
            
            
            
        }

        .parte-sinistra h4{
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 24px;
            
            
        }
         .parte-sinistra p{
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 24px;
            
            }

            .social{
                display: flex;
                align-items: center;
                gap: 20px;
            }
            
              .social img:hover{
               filter:invert(11%) sepia(65%) saturate(5797%) hue-rotate(150deg) brightness(80%) contrast(98%);
             transition:  0.3s;
            }

        .link {
            list-style: none;
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            padding:20px;
            margin-left: 124px;
        }

        .link h5{
            font-size: 20px;
            margin-bottom: 40px;
          
        }

        .link2 li a {
            display: flex;
            margin-bottom: 18px;
            font-weight: 400;
            text-decoration: none;
            color: white;
            
        }

        .link2 p{
            margin-bottom: 18px;
        }

       hr{
        border: none;
    height: 1px;
     background-color: #ffffff;
       }

        .copyright p{
            display: flex;
            justify-content: center;
            padding: 29px;
            
        }

        .link2 nav a:hover{
    color: #970d1f;
    transition: color 0.3s;
}

/*parte responsive Tablet*/
@media only screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }

    /*header*/
    header{
        display: flex;
        justify-content: flex-end;
    }
    .logo img{
        width: 170px;
        padding: 0 2px;
    }

    /*copertina*/
    .inizio ul{
        gap: 45px;
    }
    .inizio a{
        font-size: 15px;
    }

    .foto-copertina img{
     height: 599px;
    }

    .primo h1{
        font-size: 65px;
        padding: 0 30px;
    }

    .primo p{
        padding: 0 32px;
        
    }

   
    /*red box*/
    .red-box{
        width: 721px;
    }

    .imm-descr{
        padding: 10px 5px;
    }

    .red-box h2{
        font-size: 45px;
    }

    .red-box p{
        font-size: 18px;
    }
    /*descrizione generica*/
    .desc-generica h3{
        font-size: 45px;
    }

    .desc-generica p{
        font-size: 17px;
    }
   
    .ima-didascalia1 img{
        height: 230px;
        
    }

    .foto-centro img{
            width: 650px;
        }
    
    .ima-didascalia2 img{
        height: 230px;
        padding: 0 0 0 25px;
    }

    .grid-selez{
        display: inline;
    }
    .dida-2{
        margin-left: 88px;
    }

    .ima-didascalia3 img{
        height: 230px;
        
    }
    
    .ima-didascalia4 img{
        height: 230px;
        padding: 0 0 0 25px;
    }


    .grid-selez-2{
        display: inline;
    }

    .red-box-2{
        width: 721px;
    }


    .testo-a-sinistra{
        display: inline;
    }
    .immagine-destra{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .immagine-destra img{
     padding: 20px;
        border-radius: 50px;
    }

.testo-a-destra{
        display: inline;
    }
    .immagine-sinistra{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .immagine-sinistra img{
     padding: 20px;
        border-radius: 50px;
    
    }

    .immagine-sinistra-wide{
        display: none;
    }

    .immagine-sinistra-wide-resp{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .immagine-sinistra-wide-resp img{
     padding: 20px;
        border-radius: 50px;
        height: 550px;
    }

    .selezione-1 img{
        margin-left: 44px;
    }
    .selezione-2 img{
        margin-left: 44px;
    }

    .card-3{
        display: inline;
        display: flex;
        justify-content: center;
    }

    .nascondi-trio{
        display: none;
    }

    .back{
        margin: 22px;
    }

    .desc-generica p{
        margin-bottom: 25px;
        width: 600px;
    }

    /*footer*/
    .parte-finale{
        padding: 20px 25px;
    }

    .parte-sinistra h4{
        font-size: 25px;
    }

    .parte-sinistra p{
        font-size: 15px;
    }

    .social{
        display: flex;
        align-items: flex-start;
        max-width: 100%;
        height: auto;
       
    }

    .link{
        padding: 0 15px;
        margin: 5px 0 0 0;
    }

    .link h5{
        font-size: 15px;
        margin-bottom: 25px;
    }

    .link2 li a{
        font-size: px;
        margin-bottom: 12px;
    }
      .link2 p{
            font-size: 13px;
        }

    hr{
        margin: 12px 25px;
    }

    .copyright p{
        padding: 20px;
    }
}

/*parte responsive smartphone*/
@media only screen and (max-width: 619px) {
    body{
        overflow-x: hidden;
    }
    header{
        display: flex;
        justify-content: flex-end;
    }
    .logo img{
        width: 170px;
        padding: 0 2px;
    }
    .inizio ul{
        gap: 45px;
    }
    .inizio a{
        font-size: 15px;
    }

    .foto-copertina img{
     height: 599px;
    }

    .foto-centro img{
            width: 550px;
            padding: 30px;
        }

    .primo h1{
        font-size: 65px;
        padding: 0 30px;
    }

    .primo p{
        padding: 0 32px;
    }

    .red-box{
        width: 561px;
    }

    .imm-descr{
        padding: 10px 5px;
    }

    .red-box h2{
        font-size: 45px;
    }

    .red-box p{
        font-size: 18px;
    }

    .desc-generica h3{
        font-size: 45px;
        width: 450px;
    }

    .desc-generica p{
        font-size: 17px;
        margin-bottom: 25px;
        width: 450px;
    }
    
   
    .ima-didascalia1 img{
        height: 190px;
        
    }
    
    .ima-didascalia2 img{
        height: 200px;
        padding: 0 0 0 25px;
    }

    .nascondi-trio{
        display: none;
    }

     .dida-2{
        margin-left: 53px;
        width: 500px;
        height: 553px;
    }

    .selezione-1 img{
        margin-left: 10px;
        width: 500px;
        height: 553px;
    }
    .selezione-2 img{
        margin-left: 10px;
        width: 499px;
        height: 553px;
    }

    .red-box-2{
        width: 589px;
    }

    .parte-finale{
        padding: 15px 20px;
    }

    .parte-sinistra h4{
        font-size: 25px;
    }

    .parte-sinistra p{
        font-size: 15px;
    }

    .social{
        display: flex;
        align-items: flex-start;
        max-width: 100%;
        height: auto;
       
    }

    .link{
        padding: 0 2px;
        margin: 5px 0 0 0;
    }

    .link h5{
        font-size: 15px;
        margin-bottom: 25px;
    }

    .link2 li a{
        font-size: px;
        margin-bottom: 12px;
    }
      .link2 p{
            font-size: 13px;
        }

    hr{
        margin: 12px 25px;
    }

    .copyright p{
        padding: 20px;
    }

    .immagine-destra-wide img{
        height: 100%;
        padding: 20px;
        border-radius: 50px;
    }

     .immagine-sinistra-wide img{
        display: none;
    }
}



      