img {
    max-width: 100%;
    display: block;
    }

h1, h2, h3, h4, h5, h6, p, ul, ol {
 margin: 0;
 padding: 0;
 }

 body{
    margin: 0;
font-family:"Inter", "Fustat", sans-serif;
overflow-x: hidden;
 }

/*header*/
header{
    display: flex;
   flex-direction: row; 
   justify-content: center;
   align-content: center;
   padding: 70px 55px 20px;
}
 .inizio {
    background-color: #fff5f6;
    width: 100%;
    height: 150px;   
}

.logo img{
    width: 171px;
    height: auto;
    position: absolute;
    }

.inizio ul{
    display: flex;
    font-family: "Inter";
    list-style: none;
    gap: 89px;
        
}

.inizio a{ 
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;     
}

header nav a:hover{
    color: #A5505B;
    transition: color 0.3s;
}

.current-page a{
    text-decoration: underline #952333 4px;
    color: #91303d;
}

/*Copertina*/
.testata{
    position: relative;
    
}

.titolo-testata{
position: absolute;
background-color: rgba(0, 0, 0, 0.6);
color: white;
width: 100%;
height: 100%;
font-family: "Inter";
display: flex;
align-items:flex-end;
justify-content:flex-start;
}

.foto-copertina img{
    width: 100%;
    height: 788px;
    object-fit: cover;
    margin-bottom: 79px;
    
}


.primo h1{
    font-size: 80px;
    font-weight: bold;
    padding: 0 65px;
    margin-bottom: 20px;
}

.primo p{
    font-size: 20px;
    font-weight: 600;
    width: 542px;
    margin-bottom: 48px;
    padding: 0 71px;
    
    }


    /*info box*/
    .red-box{
         max-width: 100%;
        height: 100%;
        background-color: #A5505B;
        border-radius: 40px;
       margin: 22px;
      text-align: center;
      padding: 20px;
       }

       .red-box-2{
        max-width: 100%;
        height: 708px;
        background: #A5505B;
        border-radius: 40px;
        margin: 22px;
      text-align: center;
       }

    .imm-descr{
        max-width: 100%;
        height: 355px;
       display: flex;
        align-items: center;
        padding: 55px;
        }

        .link-veloce a{
            text-decoration:none;
           }
       

        .red-box a p:hover{
            color: #970d1f;
        transition: color 0.3s;
        }

        .desc-generica a{
            text-decoration: none;
        }


        .foto-centro{
            display: flex;
            justify-content: center;
        }
        .foto-centro img{
            width: 80%;
            
            padding: 30px;
            border-radius: 60px;
        }

     .red-box h2{
        font-size: 60px;
        color: white;
        text-align: center;
        padding: 30px;
     }
       .red-box p{
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 0 50px;
        
        }

 
     
        /*descrizione generica*/
        .desc-generica h3{
            font-size: 60px;
        color: black;
        padding:39px;
        width: 80%;
       
        }
         .desc-generica p{
            font-size: 20px;
        color: black;
        padding:0 40px;
        margin-top: -15px;
        max-width: 88%;
        margin-bottom: 20px;
        }

        .testo-a-sinistra{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
        }
        .immagine-destra{
            display: flex;
            justify-content: flex-end;
        }
        .immagine-destra img{
            
            max-width:100%;
            border-radius: 50px;
            padding: 25px;
         }

         .immagine-centrale img{
            object-fit: cover;
            width: 100%;
           height: 400px;
         }

         .testo-a-destra{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: flex-end;
        }
        .immagine-sinistra{
            display: flex;
            justify-content: flex-start;
        }
        .immagine-sinistra img{
            max-width: 100%;
            border-radius: 120px;
            padding: 94px;
         }

          .elenco p{
            font-size: 20px;
        color: black;
        padding:0 40px;
        margin-top: -30px;
        width: 100%;
        }

         span{
            font-size: 24px;
        }

        .immagine-destra-wide img{
            object-fit: cover;
             width: 100%;
             height: 694px;
            border-radius: 50px;
            padding: 20px;
        }

        .immagine-destra-wide{
            display: flex;
            justify-content: flex-end;
        }

         .desc-generica-elenco h3{
            font-size: 60px;
        color: black;
        padding:39px;
        margin-top: -20px;
        }
         .desc-generica-elenco p{
            font-size: 20px;
        color: black;
        padding:0 40px;
        margin-top: -15px;
        max-width: 80%;
        margin-bottom: 20px;
        }

         .desc-generica-elenco li{
        font-size: 20px;
        padding:0 40px;
        width: 600px;
        
        }

        .immagine-sinistra-wide img{
            object-fit: cover;
             width: 100%;
             height: 694px;
            border-radius: 50px;
            padding: 20px;
        }

        .immagine-sinistra-wide{
            display: flex;
            justify-content: flex-start;
        }

        .immagine-sinistra-wide-resp{
            display: none;
        }

         .desc-generica-elenco h3{
            font-size: 60px;
        color: black;
        padding:39px;
        }
         .desc-generica-elenco p{
            font-size: 20px;
        color: black;
        padding:0 40px;
        margin-top: -15px;
        width: 100%;
        }

        .card-3{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 22px;
        }
        .selezione-3 img{
            width: 100%;
            
        }

        

        /*schermata di selezione*/

        .esplora{
            position: relative;
        }

        .grid-selez{
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 70px;
        }

       .dida-2{
        position: absolute;
        color: white;
        display: flex;
        align-items: flex-end;
        
        width: 100%;
        height: 593px;
        margin-top: 44px;
        margin-left: 22px;
        border-radius: 20px;
       }

        .dida-3{
        position: absolute;
        color: white;
        display: flex;
        align-items: flex-end;
       width: 100%;
        height: 593px;
        margin-top: 44px;
        margin-left: -22px;
        border-radius: 20px;
        pointer-events: none;
       }

     

       .dida-primo h6{
        font-size: 36px;
        font-weight: bold;
        padding: 0 24px;
        margin-bottom: 20px;
       }

         .dida-primo p{
        font-size: 20px;
        font-weight: 400;
        padding: 0 24px;
        margin-bottom: 48px;
        width: 80%;
       }

       .selezione-1 img{
        width: 100%;
        height: 593px;
        object-fit: cover;
        border-radius: 20px;
        margin-top: 44px;
        margin-left: 22px;
        margin-bottom: 25px;
        
       }

       .selezione-1 a:hover{
        background-color: white;
        opacity: 0.8;
        transition:0.3s;
       }

        .selezione-2, .dida-3 a img:hover{
        background-color: white;
        opacity: 0.8;
        transition:0.3s;
       }

       .selezione-2 img{
        width: 100%;
        height: 593px;
        object-fit: cover;
        margin-top: 44px;
        margin-left: -22px;
        
        border-radius: 20px;
        
       }

    /*schermata di selezione griglia 3*/
.featured {       
    padding: 20px;
}

.card {
    max-width: 1350px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;  
}                                                               

.card .image {
    height: 250px;
} 

.card .image img {
    width: 100%;
    object-fit: cover;  
}

.card .large-col{
    grid-column: span 2;
 }
 

.large-row .image {
    width: 100%;
    height: 100%;
}

.item img {
    object-fit: cover;
    
    height: 100%;
    border-radius: 20px;
}

.item {
    width: 100%;
    position: relative;
}


.card a{
    grid-row: span 2; 
    grid-column: span 2; 
    height: 100%;
}

.card a img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}


.item:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.card .text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    z-index: 1;
}

.text h6{
    font-size: 24px;
}

.featured a:hover{
    background-color: white;
    transition: 0.3s;
    opacity: 0.8;
}

/* SEZIONE CONTENUTO */

.preview {
   padding: 20px;
}

.content {
    display: flex;
    gap: 44px;
    justify-content: center;
    align-items: center;
}

.content div {
    width: 70%;
}

        /*footer*/
         footer {
            font-family: "DM Sans";
             background: #A5505B;
             color: white;
             
        }

        .parte-finale{
             display: inline-flex;
            align-items: flex-start;
            padding: 20px 39px;
            
            
            
        }

        .parte-sinistra h4{
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 24px;
            
            
        }
         .parte-sinistra p{
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 24px;
            
            }

            .social{
                display: flex;
                align-items: center;
                gap: 20px;
            }
            
              .social img:hover{
               filter:invert(11%) sepia(65%) saturate(5797%) hue-rotate(150deg) brightness(80%) contrast(98%);
             transition:  0.3s;
            }

        .link {
            list-style: none;
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            padding:20px;
            margin-left: 124px;
        }

        .link h5{
            font-size: 20px;
            margin-bottom: 40px;
          
        }

        .link2 li a {
            display: flex;
            margin-bottom: 18px;
            font-weight: 400;
            text-decoration: none;
            color: white;
            
        }

        .link2 p{
            margin-bottom: 18px;
        }

       hr{
        border: none;
    height: 1px;
     background-color: #ffffff;
       }

        .copyright p{
            display: flex;
            justify-content: center;
            padding: 29px;
            
        }

        .link2 nav a:hover{
    color: #970d1f;
    transition: color 0.3s;
}

/*parte responsive Tablet*/
@media screen and (max-width: 920px) {
    body{
        overflow-x: hidden;
    }

    /*header*/
    header{
        display: flex;
        justify-content: flex-end;
    }
    .logo img{
        width: 18%;
        height: auto;
        padding:2px;
    }

    /*copertina*/
    .inizio ul{
        gap: 45px;
    }
    .inizio a{
        font-size: 15px;
    }

    .foto-copertina img{
     width: 100%;
    }

    .primo h1{
        font-size: 65px;
        padding: 0 30px;
    }

    .primo p{
        padding: 0 32px;
        
    }

   
    /*red box*/
    .red-box{
        max-width:100%;
    }

    .imm-descr{
        padding: 10px 5px;
    }

    .red-box h2{
        font-size: 45px;
    }

    .red-box p{
        font-size: 18px;
    }
    /*descrizione generica*/
    .desc-generica h3{
        font-size: 45px;
    }

    .desc-generica p{
        font-size: 17px;
    }
   
    .ima-didascalia1 img{
        height: 230px;
        
    }

    .foto-centro img{
            width: 100%;
        }
    
    .ima-didascalia2 img{
        height: 230px;
        padding: 0 0 0 25px;
    }

    .grid-selez{
        display: inline;
    }

    
    .dida-2{
        margin-left: 88px;
    }

    .ima-didascalia3 img{
        height: 230px;
        
    }
    
    .ima-didascalia4 img{
        height: 230px;
        padding: 0 0 0 25px;
    }


    .grid-selez-2{
        display: inline;
    }

   .selezione-1, .selezione-2 img{
    width: 80%;
    margin-bottom: 20px;
   }

   .dida-2{
    margin-left: 25px;
    padding: 0 20px;
   }

   .dida-3{
    margin-left: 44px;
   }

    .testo-a-sinistra{
        display: inline;
    }
    .immagine-destra{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .immagine-destra img{
        max-width: 80%;
     padding: 20px;
        border-radius: 50px;
        
    }

    .immagine-destra-wide img{
        width: 94%;
     padding: 20px;
    }

    .elenco li{
        width: 90%;
    }

.testo-a-destra{
        display: inline;
    }
    .immagine-sinistra{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .immagine-sinistra img{
     padding: 20px;
        border-radius: 50px;
    
    }

   

    .immagine-sinistra-wide{
        display: none;
    }

    .immagine-sinistra-wide-resp{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .immagine-sinistra-wide-resp img{
     padding: 20px;
        border-radius: 50px;
        width: 95%;
        
    }

    .selezione-1 img{
        margin-left: 44px;
    }
    .selezione-2 img{
        margin-left: 44px;
    }

    .card-3{
        display: inline;
        display: flex;
        justify-content: center;
        
    }

    .nascondi-trio{
        display: none;
    }

    .back{
        margin: 22px;
    }

    .desc-generica p{
        margin-bottom: 25px;
        width: 600px;
    }

    /*footer*/
    .parte-finale{
        padding: 20px 25px;
    }

    .parte-sinistra h4{
        font-size: 25px;
    }

    .parte-sinistra p{
        font-size: 15px;
    }

    .social{
        display: flex;
        align-items: flex-start;
        max-width: 100%;
        height: auto;
       
    }

    .link{
        padding: 0 15px;
        margin: 5px 0 0 0;
    }

    .link h5{
        font-size: 15px;
        margin-bottom: 25px;
    }

    .link2 li a{
        font-size: px;
        margin-bottom: 12px;
    }
      .link2 p{
            font-size: 13px;
        }

    hr{
        margin: 12px 25px;
    }

    .copyright p{
        padding: 20px;
    }
}

/*parte responsive smartphone*/
@media only screen and (max-width: 500px) {
    body{
        overflow-x: hidden;
    }
    header{
        display: flex;
        justify-content: flex-end;
    }
    .logo img{
        width: 28%;
        padding: 0 2px;
    }
    .inizio ul{
        gap: 45px;
    }
    .inizio a{
        font-size: 15px;
    }

    .foto-copertina img{
        max-width: 100%;
     height: 599px;
    }

    .foto-centro img{
            width: 550px;
            padding: 30px;
        }

    .primo h1{
        font-size: 65px;
        padding: 0 30px;
    }

    .primo p{
        padding: 0 32px;
    }

    .red-box{
        max-width: 100%;
    }

    .imm-descr{
        max-width: 100%;
        padding: 10px 5px;
    }

    .red-box h2{
        font-size: 45px;
    }

    .red-box p{
        font-size: 18px;
    }

    .desc-generica h3{
        font-size: 45px;
        width: 450px;
    }

    .desc-generica p{
        font-size: 17px;
        margin-bottom: 25px;
        width: 450px;
    }
    
   
    .ima-didascalia1 img{
        height: 190px;
        
    }
    
    .ima-didascalia2 img{
        height: 200px;
        padding: 0 0 0 25px;
    }

    .nascondi-trio{
        display: none;
    }

    .card-3{
        display: inline;
    }

    .immagine-destra img{
        width: 500px;
        padding: 20px;
    }


    .parte-finale{
        padding: 15px 20px;
    }

    .parte-sinistra h4{
        font-size: 25px;
    }

    .parte-sinistra p{
        font-size: 15px;
    }

    .social{
        display: flex;
        align-items: flex-start;
        max-width: 100%;
        height: auto;
       
    }

    .link{
        padding: 0 2px;
        margin: 5px 0 0 0;
    }

    .link h5{
        font-size: 15px;
        margin-bottom: 25px;
    }

    .link2 li a{
        font-size: px;
        margin-bottom: 12px;
    }
      .link2 p{
            font-size: 13px;
        }

    hr{
        margin: 12px 25px;
    }

    .copyright p{
        padding: 20px;
    }

    .immagine-destra-wide img{
        width: 94%;
        padding: 20px;
        border-radius: 50px;
    }

     .immagine-sinistra-wide img{
        display: none;
    }
}



      
